body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
}
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  height: 1px;
  border: none;
}
html {
  overflow-y: scroll;
}
body {
  font: 14px/1 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.clearfix:after {
  content: '';
  display: table;
  font-size: 0;
  clear: both;
}
.wrap{width: 1000px;margin: 0 auto;}
